NSW Max Temperatue Average
---------------------------

Use Spark DataFrames and SQL (option) to calulate montly averages of max temperature. Australian BOM data is provided, from 41 weather stations around Sydney (radius 50 km), years 1890â€“2012


_Hints:_

* use `groupby` and `avg` operations

In [ ]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

rawDF = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true', delimiter=',')\
    .load('spark-data/nsw_temp.csv')

In [ ]:
rawDF.printSchema()

In [ ]:
df = rawDF.toDF('product_code', 'bom_station_number', 'year', 'month', 'day', 'max_temp', 'days_of_acc', 'quality')

In [ ]:
df.printSchema()

In [ ]:
df.count()

In [ ]:
df.limit(5).toPandas()

In [ ]:
temps_by_month = # put your solution here
temps_by_month

And the bonus visualisation:

In [ ]:
%pylab inline
pylab.rcParams['figure.figsize'] = (10.0, 8.0)
import matplotlib.pyplot as plt

In [ ]:
temps_by_month.plot(x='month', y='avg(max_temp)', style=['bo-'])
plt.show()

## (Optional) repeat using SQL

In [ ]:
df.registerTempTable('nsw_temp')

In [ ]:
sqlContext.sql("SELECT count(*) FROM nsw_temp").toPandas()

In [ ]:
# write a query here
sqlContext.sql("<PUT YOUR QUERY HERE>").toPandas()